.master_container {
    font-family: 'Jost', sans-serif;
    padding: 1vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.master_container > h1 {
    font-weight: 400;
    color: white;
    padding-bottom: 4vh;
}

.profile_container {
    display: flex;
    flex-direction: row;
    /* border: 3px solid red; */
    width: 100%;
}

.input_field_container {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0 auto 2vw;
    border: 3px solid rgb(153, 110, 223);
    background-color: rgb(182, 173, 230);
    color: white;
    border-radius: 35px;
    padding: 3rem;
    font-size: large;
}

.input_field_container > h2 {
    padding-bottom: 2vh;
}

.input_field {
    padding: 15px 10px 15px 10px;
}

.input_field > input {
    font-family: 'Jost', sans-serif;
    font-size: larger;
    font-weight: 300;
    float: right;
    width: 50%;
    background-color: transparent;
    border: none;
    text-align: right;
    color: #FAF9F6;
}

.input_field > select {
    font-family: 'Jost', sans-serif;
    font-size: large;
    float: right;
    border-radius: 10px;
    background-color: rgb(153, 110, 223);
    color: rgb(255, 255, 255);
}

.input_field > select:hover {
    background-color: blueviolet;
}

.calories_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    margin-left: 5vw;
    border: 3px solid rgb(153, 110, 223);
    background-color: rgb(182, 173, 230);
    color: white;
    border-radius: 35px;
    padding: 3rem;
}

.calorie-table {
    border-collapse: collapse;
    margin-top: 30px;
    font-size: large;
}

.calories_status {
    border: 3px solid rgb(132, 72, 228);
    border-radius: 35px;
    text-align: center;
    padding: 1rem;
    background-color: rgb(153, 110, 223);
    color: rgb(255, 255, 255);
}

.calories_status > h2 {
    font-size: 25px;
    padding: 1rem 1rem 1rem 1rem;
    font-weight: 300;
}
  
.calorie-table th,
.calorie-table td {
    border: 3px solid rgb(153, 110, 223);
    padding: 15px;
    text-align: center;
}

.calculate_calories {
    font-family: 'Jost', sans-serif;
    font-size: larger;
    padding: 1rem 2rem 1rem 2rem;
    background-color: rgb(153, 110, 223);
    color: rgb(255, 255, 255);
    border-color: rgb(132, 72, 228);
    border-radius: 20px;
    border-style: double;
    gap: 30px;
    cursor: pointer;
}

.calculate_calories:hover {
    background-color: blueviolet;
    transform: scale(1.05);
}

.button_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button_container > button {
    margin: 0 10px;
}

.goal_container {
    font-family: 'Jost', sans-serif;
    border: 3px solid rgb(153, 110, 223);
    background-color: rgb(182, 173, 230);
    border-radius: 25px;
    padding: 1.2rem;
    width: 50%;
    margin: 2vh auto;
    height: 120px;
}

.goal_container > h2 {
    color: rgb(255, 255, 255);
}

.goal_options > select {
    font-family: 'Jost', sans-serif;
    font-size: large;
    border-radius: 10px;
    background-color: rgb(153, 110, 223);
    color: rgb(255, 255, 255);
    margin-right: 1vw;
    margin-top: 1vw;
}

.goal_options select:hover {
    background-color: blueviolet;
}

.calorie_goal {
    text-align: right;
    width: 50%;
    float: right;
    font-size: larger;
    color:rgb(92, 48, 114);
}

.goal_button {
    font-family: 'Jost', sans-serif;
    font-size: medium;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: rgb(153, 110, 223);
    color: rgb(255, 255, 255);
    border-color: rgb(132, 72, 228);
    border-radius: 10px;
    border-style: double;
    cursor: pointer;
}

.goal_button:hover {
    background-color: blueviolet;
    transform: scale(1.05);
}